<!DOCTYPE html>
<html 
class="light"
lang="en" 
th:fragment="parent(content,title,script)"
xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
 
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}" />
    <link rel="stylesheet" data-th-href="@{'/css/style.css'}" />
    <title data-th-replace="${title}">CAP</title>
</head>
<body class="dark:bg-gray-900 bg-gray-100 dark:text-white">


    <!-- user logged in we use this navbar -->
    <div data-th-if="${loggedUser}">

        <div data-th-replace="~{user/user_navbar :: user-navbar}"></div>

    </div>


    <!-- user not logged in we use this navbar -->
    <div data-th-unless="${loggedUser}">

        <div data-th-replace="~{navbar :: navbar}"></div>
    </div>
    

   <!-- main content-->

     <div class="p-4">
    <section  data-th-replace="${content}"></section>


    <!--common foor-->

    <!--<footer class="p-4"> Footer ......</footer> -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>

    <script data-th-src="${'/js/script.js'}"></script>
</body>
</html>